.meSection{
    width: 100%;
    height: 100%;
    padding: 4rem 0 rem;
}

.meContainer{
    padding: 3 rem calc((100vw - 1300px) / 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
}

.columnLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.4;
    padding: 1rem 2rem;
    text-align: center;
}

.columnRight{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .meContainer{
        grid-template-columns: 1fr;
    }
}

h1{
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 6vm, 2rem);
    text-align: center;
    
}

.firstP{
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    /* font-size: clamp(1.5rem, 6vm, 2rem); */
}

.secondP{
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    /* font-size: clamp(1.5rem, 6vm, 2rem); */
}

.me {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
    
    
@media screen and (max-width: 768px){
    .me{
        width: 90%;
        height:90%;
    }
        
}

.meSecButton{
padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}


